---
layout: default
title: Home
permalink: /
---

<!-- Hero Section -->
<section class="aisara-banner bg-fixed parallax-bg fullscreen-banner valign-wrapper" data-stellar-background-ratio="0.5">
    <div class="valign-cell">
      <div class="container padding-top-110">
        <div class="row">
            <div class="text-center">
                <span class="font-40 white-text">AiSara</span>
                <h1 class="intro-title text-capitalize mb-30 white-text">Now Everyone Can AI</h1>
                <p class="lead white-text">Introducing the Next Generation Artificial Intelligence.<br>Now available in Microsoft Excel Version</p>
                <a href="#" class="btn btn-lg waves-effect mt-20 aisara-bg">Try Now</a>
            </div><!-- row -->
        </div><!-- row -->
      </div><!-- /.container -->
    </div><!-- /.valign-cell -->
</section>
<!-- Hero Section End -->

<!-- About Section -->
<section id="features" class="section-padding">
    <div class="container">

      <div class="text-center mb-80">
          <h2 class="section-title">Introducing AiSara</h2>
          <!-- <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p> -->
      </div>

      <div class="row equal-height-row">
          <div class="col-md-4 mb-30">
              <div class="featured-item hover-outline aisara-hover radius-4 equal-height-column">
                  <div class="icon">
                      <i class="az-aisara colored aisara-red"></i>
                  </div>
                  <div class="desc">
                      <h2>About AiSara</h2>
                      <p>AiSara stands for Artificial Intelligence for Solution Approximation with Robust Algorithm. AiSara proprietary allows for automated analysis.</p>
                  </div>
              </div><!-- /.featured-item -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4 mb-30">
              <div class="featured-item hover-outline aisara-hover radius-4 equal-height-column">
                  <div class="icon">
                      <i class="az-eye colored aisara-red"></i>
                  </div>
                  <div class="desc">
                      <h2>Our Vision</h2>
                      <p>To significantly widen the AI market with world’s easiest AI tool to use. No coding, no data science expertise needed with AiSara app.</p>
                  </div>
              </div><!-- /.featured-item -->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4 mb-30">
              <div class="featured-item hover-outline aisara-hover radius-4 equal-height-column">
                  <div class="icon">
                      <i class="az-lightbulb-o colored aisara-red"></i>
                  </div>
                  <div class="desc">
                      <h2>Technology</h2>
                      <p>Powerful algorithm for pattern recognition that learns like a human. “ALGORITHMS are everywhere”- The Economist, 2017</p>
                  </div>
              </div><!-- /.featured-item -->
          </div><!-- /.col-md-4 -->
      </div><!-- /.row -->

    </div><!-- /.container -->
</section>
<!-- About Section End -->

{% include pricing.html %}
{% include case-studies.html %}