<section id="about" class="section-padding">
    <div class="container">

      <div class="text-center mb-80">
          <h2 class="section-title">What is AiSara?</h2>
          <p class="section-sub">AiSara proprietary algorithm allows for automated analysis. Gain clarity really fast as the algorithm has one and only one mission, find the pattern in your data. With state of the art of visualization, and all the hidden patterns in your data clearly revealed, you can be at ease in making real impact to your business.</p>
      </div>

      <div class="vertical-tab">
        <div class="row">
          <div class="col-sm-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-stacked" role="tablist">
                  <li role="presentation" class="active"><a href="#tab-1" class="waves-effect waves-light" role="tab" data-toggle="tab">Business Breakthrough</a></li>
                  <li role="presentation"><a href="#tab-2" class="waves-effect waves-light" role="tab" data-toggle="tab">Technical Breakthrough</a></li>
                  <li role="presentation"><a href="#tab-3" class="waves-effect waves-light" role="tab" data-toggle="tab">Modern Technology</a></li>
                  <li role="presentation"><a href="#tab-8" class="waves-effect waves-light" role="tab" data-toggle="tab">Security First</a></li>
                  <li role="presentation"><a href="#tab-9" class="waves-effect waves-light" role="tab" data-toggle="tab">Save Your Bills</a></li>
                </ul>                      
          </div><!-- /.col-md-3 -->

          <div class="col-sm-9">
                <!-- Tab panes -->
                <div class="panel-body">
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                        <h2>Business Breakthrough</h2>

                        <img class="alignright" src="assets/img/mockup/tab.png" alt="">

                        <p>Disruptive, with <a>AiSara</a>, almost everyone can use AI for analysis and prediction.</p> 

                        <p>Data analytics which is very common nowadays (hint: large market) will never be the same again with AiSara.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-2">
                        <h2>Technical Breakthrough</h2>

                        <img class="alignright mt-20" src="assets/img/data.png" alt="">

                        <p>Powerful algorithm for pattern recognition that learns like a human. “ALGORITHMS are everywhere”- The Economist, 2017</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-3">
                        <h2>Modern Technology</h2>

                        <img class="alignright" src="assets/img/busy_man.png" alt="">

                        <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient.</p>

                        <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-8">
                        <h2>Security First</h2>

                        <img class="alignright" src="assets/img/working_man.png" alt="">

                        <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient.</p>

                        <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-9">
                        <h2>Save Your Bills</h2>
                        
                        <img class="alignright" src="assets/img/business.png" alt="">

                        <p>Duis senectus mus condimentum nunc ac habitasse duis consectetur a arcu a accumsan cras et metus ultricies justo cum a bibendum. <a href="#">Egestas vestibulum blandit sem vestibulum curabitur</a> a vel aliquet gravida ullamcorper amet dictumst vestibulum a elementum proin id volutpat magna parturient.</p>

                        <p>Himenaeos a vestibulum morbi. <a href="#">Ullamcorper cras scelerisque</a> taciti lorem metus feugiat est lacinia facilisis id nam leo condimentum praesent id diam. Vestibulum amet porta odio elementum convallis parturient tempor tortor.</p>
                    </div>
                  </div>
                </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.vertical-tab -->

    </div><!-- /.container -->
</section>