<section id="about" class="section-padding">
    <div class="container">

      <div class="text-center mb-80">
          <h2 class="section-title">What is AiSara?</h2>
          <p class="section-sub">AiSara proprietary algorithm allows for automated analysis. Gain clarity really fast as the algorithm has one and only one mission, find the pattern in your data. With state of the art of visualization, and all the hidden patterns in your data clearly revealed, you can be at ease in making real impact to your business.</p>
      </div>

      <div class="vertical-tab">
        <div class="row">
          <div class="col-sm-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-stacked" role="tablist">
                  <li role="presentation" class="active"><a href="#tab-1" class="waves-effect waves-light" role="tab" data-toggle="tab">Business Breakthrough</a></li>
                  <li role="presentation"><a href="#tab-2" class="waves-effect waves-light" role="tab" data-toggle="tab">Technical Breakthrough</a></li>
                  <li role="presentation"><a href="#tab-3" class="waves-effect waves-light" role="tab" data-toggle="tab">Target Market</a></li>
                  <li role="presentation"><a href="#tab-4" class="waves-effect waves-light" role="tab" data-toggle="tab">Competitiveness</a></li>
                  <li role="presentation"><a href="#tab-5" class="waves-effect waves-light" role="tab" data-toggle="tab">Potential Acquisition</a></li>
                </ul>                      
          </div><!-- /.col-md-3 -->

          <div class="col-sm-9">
                <!-- Tab panes -->
                <div class="panel-body">
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab-1">
                        <h2>Business Breakthrough</h2>

                        <img class="alignright" src="assets/img/about/business.png" alt="">

                        <p>Disruptive, with AiSara, almost everyone can use AI for analysis and prediction.</p> 

                        <p>Data analytics which is very common nowadays (hint: large market) will never be the same again with AiSara.</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-2">
                        <h2>Technical Breakthrough</h2>

                        <img class="alignright mt-20" src="assets/img/about/data.png" alt="">

                        <p>Powerful algorithm for pattern recognition that learns like a human. “ALGORITHMS are everywhere”- The Economist, 2017</p>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-3">
                        <h2>Target Market</h2>

                        <img class="alignright" src="assets/img/about/target-market.png" alt="">

                        <ul>
                          <li>Initially oil and gas (founders domain), before other sectors.</li>
                          <li>A public version will be released to spread the word on AiSara beyond oil and gas. This public version can work because AiSara is a sector agnostic tool for AI just like MS Excel is for spreadsheet.</li>
                          <li>Later in 2019 market as API in AI market (singularity.net). The advantage here is Singularity will promote the AI marketplace.</li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-4">
                        <h2>Competitiveness</h2>

                        <img class="alignright" src="assets/img/about/busy_man.png" alt="">

                        <ul>
                          <li>• Unique, proprietary technology.</li>
                          <li>• Sector agnostic</li>
                          <li>• Nothing similar in academia publication or announced by private sector.</li>
                          <li>• AiSara combines 4 different breakthrough ideas, very hard to replicate.</li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab-5">
                        <h2>Potential Acquisition</h2>
                        
                        <img class="alignright" src="assets/img/about/business.png" alt="">

                        <ul>
                          <li>• Giants which are trying to compete in AI (Google, Amazon, IBM).</li>
                          <li>• Companies looking for algorithm for its products (Samsung).</li>
                          <li>• Salesforce which is huge on data/marketing.</li>
                          <li>• Consulting company like Accenture.</li>
                          <li>• AI companies like H2O.</li>
                          <li>• Analytics companies like Alteryx.</li>
                        </ul>
                    </div>
                  </div>
                </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.vertical-tab -->

    </div><!-- /.container -->
</section>