<section id="case-studies" class="padding-top-70 padding-bottom-50">
    <div class="container">

        <div class="text-center mb-80">
          <h2 class="section-title">Case Studies</h2>
          <p class="section-sub">We've done several sace studies to make sure AiSara is compatible to any kind of situation.</p>
        </div>

        <div class="row equal-height-row ptb-50">
            <div class="col-md-7">
              <div class="valign-wrapper equal-height-column">
                <div class="hero-intro valign-cell">
                    <h2 class="font-40 line-height-50 mb-40">Housing Prices</h2>
                    
                    <p class="no-margin">The surface solution visualises the complex relationship between the price of a house and a number of variables, housing median age and total number of rooms being the two most largely influencing variables.</p>
                    &nbsp;
                    <p>The red dot shows that the most expensive house has 3 rooms and is less than 2 years of age.</p>
                </div><!-- /.hero-intro -->
              </div><!-- /.container -->
            </div>

            <div class="col-md-5 hero-thumb equal-height-column">
                <img src="assets/img/case-studies/housing.png" class="img-responsive " alt="Housing-Prices">
            </div>
        </div>

        <div class="row equal-height-row ptb-50">
            <div class="col-md-5 hero-thumb equal-height-column">
                <img src="assets/img/case-studies/oilgas-reservoir.png" class="img-responsive " alt="Housing-Prices">
            </div>

            <div class="col-md-7">
              <div class="valign-wrapper equal-height-column">
                <div class="hero-intro valign-cell">
                    <h2 class="font-40 line-height-50 mb-40">Oil and Gas Reservoir Model</h2>
                    
                    <p class="no-margin">The surface solution visualizes the optimized values for the variables (fault threshold and pore volume multiplier, among others) to reduce error in the model.</p>
                    &nbsp;
                    <p>This enables the engineer to produce the most accurate version of the reservoir model.</p>
                </div><!-- /.hero-intro -->
              </div><!-- /.container -->
            </div>
        </div>

        <div class="row equal-height-row ptb-50">
            <div class="col-md-7">
              <div class="valign-wrapper equal-height-column">
                <div class="hero-intro valign-cell">
                    <h2 class="font-40 line-height-50 mb-40">Shell's Blue Sky Scenario</h2>
                    
                    <p class="no-margin">In this example, we take a look at Shell’s ’Blue Sky’ Scenario, where Shell targets to meet the goal of the Paris Agreement — to hold the increase in global average temperature to well below 2°C. </p>
                    &nbsp;
                    <p>In the visualization, we can see the energy consumption per year (in exajoules) and how it is affected by the variables, GDP and time being the most impactful variables.</p>
                    &nbsp;
                    <p>Reference : Shell Sky Scenario</p>
                </div><!-- /.hero-intro -->
              </div><!-- /.container -->
            </div>

            <div class="col-md-5 hero-thumb equal-height-column">
                <img src="assets/img/case-studies/shell-blue-sky.png" class="img-responsive " alt="Housing-Prices">
            </div>
        </div>

    </div><!-- /.container -->
</section>