<div class="fixed-bottom">
    <div class="bg-light text-center">
        <div class="container">
          <div class="row">
            <div class="col-md-12 p-3">
                  <div class="footer-logo">
                    <a>AiSara Excel by AiSara</a>
                  </div>

                  <span class="copy-text">Copyright &copy; 2019 <a href="http://www.invigourenergy.com/">Invigour Energy</a> &nbsp; | &nbsp;  All Rights Reserved</span>
                  <!-- <div class="footer-intro">
                    <p>Penatibus tristique velit vestibulum adipiscing habitant aenean feugiat at condimentum aptent odio orci vulputate hac mollis a.Vestibulum adipiscing gravida justo a ac euismod vitae.</p>
                  </div> -->
            </div><!-- /.col-md-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.primary-footer -->
</div>