<!--header start-->
<header id="header" class="tt-nav transparent-header nav-border-bottom">

    <div class="header-sticky light-header">

        <div class="container">

            <div id="materialize-menu" class="menuzord">

                <!--logo start-->
                <a href="/" class="logo-brand">
                    <img src="assets/img/logo.png" alt=""/>
                </a>
                <!--logo end-->

                <!-- menu start-->
                <ul class="menuzord-menu pull-right light">
                    <li {% if page.title == "Home"%} class="active" {% endif %}><a href="/">Home</a></li>
                    <li {% if page.title == "About"%} class="active" {% endif %}><a href="/about">About</a></li>
                    <li {% if page.title == "Features"%} class="active" {% endif %}><a href="#">Features</a></li>
                    <li {% if page.title == "AiSara Excel"%} class="active" {% endif %}><a href="#">AiSara Excel</a></li>
                    <li {% if page.title == "Download"%} class="active" {% endif %}><a href="#">Download</a></li>
                    <li {% if page.title == "Case Studies"%} class="active" {% endif %}><a href="#">Case Studies</a></li>
                    <li {% if page.title == "Pricing"%} class="active" {% endif %}><a href="#">Pricing</a></li>
                    <li {% if page.title == "Frequently Asked Questions"%} class="active" {% endif %}><a href="/faq">FAQ</a></li>
                    <li {% if page.title == "Contact Us"%} class="active" {% endif %}><a href="#">Contact Us</a></li>
                </ul>
                <!-- menu end-->

            </div>
        </div>
    </div>
</header>
<!--header end-->