<!--header start-->
<header id="header" class="tt-nav">

    <div class="header-sticky light-header nav-boxed-color">

        <div class="container">
            <div id="materialize-menu" class="menuzord">

                <!--logo start-->
                <a href="op-index-1.html" class="logo-brand">
                    <img class="retina" src="assets/img/logo.png" alt=""/>
                </a>
                <!--logo end-->

                <!-- onepage menu start-->
                <ul class="nav menuzord-menu pull-right op-nav">
                    <li class="active">
                        <a href="#home" data-scroll>Home</a>
                    </li>
                    <li>
                        <a href="#weDo" data-scroll>What we Do</a>
                    </li>
                    <li>
                        <a href="#features" data-scroll>Features</a>
                    </li>
                    <li>
                        <a href="#works" data-scroll>Works</a>
                    </li>
                    <li>
                        <a href="#about" data-scroll>About Us</a>
                    </li>
                    <li>
                        <a href="#skill" data-scroll>Skills</a>
                    </li>
                    <li>
                        <a href="#team" data-scroll>Team</a>
                    </li>
                    <li>
                        <a href="#contact" data-scroll>Contact</a>
                    </li>
                </ul>
                <!-- onepage menu end-->

            </div>
        </div>
    </div>
</header>
<!--header end-->