<section id="pricing" class="section-padding gray-bg">
    <div class="container">

      <div class="text-center mb-80">
          <h2 class="section-title">Our Pricing</h2>
          <p class="section-sub">Quisque non erat mi. Etiam congue et augue sed tempus. Aenean sed ipsum luctus, scelerisque ipsum nec, iaculis justo. Sed at vestibulum purus, sit amet viverra diam nulla ac nisi rhoncus.</p>
      </div>

      <div class="row">
        <div class="col-md-4">
            <div class="pricing-table">
                <div class="table-contents text-center">
                    <div class="table-header brand-hover">
                        <div class="package-name">
                            <span>Free</span>
                        </div> 

                        <div class="package-price">
                            <span class="currency-symbol">$</span>
                            <span class="price">0</span>
                            <span class="currency-code">/Month</span>
                        </div>
                    </div> <!-- /.table-header -->

                    <div class="table-info">
                        <ul>
                            <li>4 Variables</li>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li><del>Dolor</del></li>
                            <li><del>Sit Amet</del></li>
                        </ul>                                
                    </div><!-- /.table-info -->

                    <div class="table-footer">
                        <div class="purchase-button">
                            <a class="btn btn-lg text-capitalize waves-effect waves-light" href="">Buy Now</a>
                        </div>   
                    </div> <!-- /.table-footer -->
                </div> <!-- /.table-contents -->
            </div><!-- /.pricing-table -->
        </div><!-- /.col-md-4 -->

        <div class="col-md-4">
            <div class="pricing-table">
                <div class="table-contents text-center">
                    <div class="table-header brand-hover">
                        <div class="package-name">
                            <span>Standard</span>
                        </div> 

                        <div class="package-price">
                            <span class="currency-symbol">$</span>
                            <span class="price">79</span>
                            <span class="currency-code">/Month</span>
                        </div>
                    </div> <!-- /.table-header -->

                    <div class="table-info">
                        <ul>
                            <li>6 Variables</li>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li>Dolor</li>
                            <li><del>Sit Amet</del></li>
                        </ul>                                
                    </div><!-- /.table-info -->

                    <div class="table-footer">
                        <div class="purchase-button">
                            <a class="btn btn-lg text-capitalize waves-effect waves-light" href="">Buy Now</a>
                        </div>   
                    </div> <!-- /.table-footer -->
                </div> <!-- /.table-contents -->
            </div><!-- /.pricing-table -->
        </div><!-- /.col-md-4 -->

        <div class="col-md-4">
            <div class="pricing-table">
                <div class="table-contents text-center">
                    <div class="table-header brand-hover">
                        <div class="package-name">
                            <span>Premium</span>
                        </div> 

                        <div class="package-price">
                            <span class="currency-symbol">$</span>
                            <span class="price">199</span>
                            <span class="currency-code">/Month</span>
                        </div>
                    </div> <!-- /.table-header -->

                    <div class="table-info">
                        <ul>
                            <li>Unlimited Variables</li>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                            <li>Dolor</li>
                            <li>Sit Amet</li>
                        </ul>                                
                    </div><!-- /.table-info -->

                    <div class="table-footer">
                        <div class="purchase-button">
                            <a class="btn btn-lg text-capitalize waves-effect waves-light" href="">Buy Now</a>
                        </div>   
                    </div> <!-- /.table-footer -->
                </div> <!-- /.table-contents -->
            </div><!-- /.pricing-table -->
        </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
    </div><!-- /.container -->

</section>