@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans" !important;
  font-size: 1.2em !important;
  line-height: 1.5; 
  color: #555;
}

.white {
	color:#fff !important;
}

.bg-aisara {
	background: #E93F3B; 
}

.nav-link-aisara {
	color:#fff !important;
}

.nav-link-aisara:hover {
	color:#000 !important;
}

.footer-aisara {
	font-size: 0.8em !important;
 	line-height: 1 !important; 
	color: #fff !important;
}